.ngp-app {
  background-color: #111;
  color: #aaa;
  padding: 10px 25px;

  height: 100%;

  font-size: .8em;
}

.ngp-dashboard-container {
  position: relative;
  width: 50%;

  height: 400px;
  border: 1px solid #333;
  border-radius: 4px;

  padding: 25px;
  margin-top: 15px;
}

.ngp-app-title {
  display: inline-block;
  font-style: italic;

  &:before {
    content: '>> ';
  }
}

